Source: ros-indigo-hironx-ros-bridge
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), gnuplot, ros-indigo-catkin, ros-indigo-control-msgs, ros-indigo-hrpsys-ros-bridge, ros-indigo-mk, ros-indigo-rosbash, ros-indigo-rosbuild, ros-indigo-roslang, ros-indigo-roslib, ros-indigo-roslint, unzip
Homepage: http://ros.org/wiki/hironx_ros_bridge
Standards-Version: 3.9.2

Package: ros-indigo-hironx-ros-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuplot, ros-indigo-control-msgs, ros-indigo-hrpsys-ros-bridge, ros-indigo-moveit-commander, ros-indigo-openni2-launch, ros-indigo-rosbash, ros-indigo-roslang, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-tf
Description: ROS-OpenRTM interfacing package for the opensource version of Kawada's Hiro/NEXTAGE dual-arm robot.
 NOTE: This package is multi-license -- pay attention to file header in each file where license is declared. For Creative Commons nc 4.0 applied, see here. This package also contains some sensor driver software (as of April 2016 they are the following force sensors such as Dynpick and JR3) for QNX. These drivers are stored in this robot-specific package for not many reasons than they are slightly customized for the robot. So if you can separate those as a standalone, generic package that'll be appreciated (please just let us know if you will).
