Source: ros-hydro-hironx-ros-bridge
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), gnuplot, ros-hydro-catkin, ros-hydro-hrpsys-ros-bridge, ros-hydro-mk, ros-hydro-rosbash, ros-hydro-rosbuild, ros-hydro-roslang, ros-hydro-roslib, unzip
Homepage: http://ros.org/wiki/hironx_ros_bridge
Standards-Version: 3.9.2

Package: ros-hydro-hironx-ros-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuplot, ros-hydro-hrpsys-ros-bridge, ros-hydro-moveit-commander, ros-hydro-rosbash, ros-hydro-roslang, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-tf
Description: ROS-OpenRTM interfacing package for Kawada's Hiro dual-arm robot.
