Source: ros-hydro-rtmros-hironx
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/rtmros_hironx/
Standards-Version: 3.9.2

Package: ros-hydro-rtmros-hironx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-hironx-calibration, ros-hydro-hironx-moveit-config, ros-hydro-hironx-ros-bridge, ros-hydro-hironx-tutorial
Description: The rtmros_hironx package is an operating interface via ROS and OpenRTM, for Hiro and NEXTAGE OPEN dual-armed robots from Kawada Industries Inc.
